{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "exclude": [
        "src/index.ts", 
        "src/redis.ts", 
        "src/utils/createSchema.ts",
        "src/modules/middleware/Logger.ts",
        "src/modules/middleware/isAuthenticated.ts",
        "**/test/**/"
        ]
}